// Font
$mainFont                : 'Roboto', sans-serif;
$primaryFont             : 'Cinzel', sans-serif;
$secondaryFont           : 'Abel', sans-serif;

$mainFontColor           : #72747C;
$primaryFontColorDark    : #9E9D9B;
$fontColorQoutes         : #4B4E5B; 
$fontColorAuthor         : #89898D; 
$productFontColor        : #C3C4C9;
$secondaryFontColor      : #787a84;



$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

// Size
$desktopWidth            : 1280px;
$tableWidth              : 768px;
$phoneWidth              : 480px;

//Padding
$mainPadding             : 176px;
$desktopPadding          : 70px;
$tablePadding            : 16px;


// Background
$mainBackgroundColor     : #FFFFFF;
$productbackgroundColor  : #FFFFFF;
$secondaryColor          : #F9F1EC; 
$backgroundBttn          : #575353;

// Border Color
$borderDecorNav           : #575353;
$borderdecorFooter        : #DFDFDF;
$borderProduct            : rgba(238, 214, 202, 0.4);
$decorInvertedCommas      : #efd8c9;
