.founder{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 97px;
    blockquote{
        position: relative;
        @include decoration(288px, -100px);
        p{
            text-align: right;
            max-width: 472px;
            font-size: 1.52rem;
            margin: 0 auto;
            @include quotes;
        }
        span.author{
            margin-top: 30px;
            text-align: right;
        }
    }
    img.photo-founder{
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: $tableWidth) {
    .founder{
        margin-top: 55px;
        blockquote{
            margin-right: 40px;
            &:before{
                font-size: 180px;
                top: -60px;
            }
            p{
                max-width: 244px;
                font-size: 16px;
            }
        }
        img.photo-founder{
            max-width: 40%;
        }
    }
}
@media (max-width: $phoneWidth) {
    .founder{
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-top: unset;
            blockquote{
            align-self: center;
            margin-right: 0;
            &:before{
            top: -40px;
            }
            p{
                max-width: 244px;
                font-size: 16px;
            }
        }
        img.photo-founder{
            max-width: 60%;
        }
    }
}
